# Dependencies required by pybroker (mirrors install_requires in setup.cfg)
akshare>=1.10.1,<2
alpaca-py>=0.7.2,<1
diskcache>=5.4.0,<6
joblib>=1.2.0,<2
numba>=0.60.0,<1
numpy>=1.26.4,<3
pandas>=2.2.0,<3
progressbar2>=4.1.1,<5
yahooquery>=2.3.7,<3
yfinance>=0.2.55,<1
